.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .form-group label {
    width: 150px;
    padding-left: 10px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 25%;
    padding: 0.5rem;
  }

  .update-btn {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    width: 25%;
  }
  