.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.centered-form {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: 300; /* thin font */
}

.centered-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 300; /* thin font */
  padding-left: 2px;
}

.centered-form input,
.centered-form select {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 20px; /* circular edges */
  font-weight: 300;
  outline: none;
}

.centered-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.centered-form button:hover {
  background-color: #0056b3;
}

.half-width-select {
  width: 50%;
}

.single-object-error {
  font-size: 22px; 
  color: red;
  font-weight: bold;
}


.single-object-confirm {
  font-size: '22px';
  color: green;
  font-weight: bold;
}

.remove-user-btn,
.cancel-ticket-btn {
  width: 100%;
  height: 100%;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.bg-very-light-blue {
  background-color: #91bcd6;
  min-height: 100vh;
}

.heading-thin-center {
  font-weight: 300;        
  text-align: center;      
  margin-top: 1rem;        
}




